/* line 1, scss/index.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 7, scss/index.scss */
body,
select,
input,
canvas {
  font-family: "Inter", sans-serif !important; }

/* line 14, scss/index.scss */
.container {
  max-width: 1250px;
  margin: 0 auto; }
  /* line 18, scss/index.scss */
  .container .headerSection {
    text-align: center;
    margin: 20px 0; }
    /* line 22, scss/index.scss */
    .container .headerSection .appHeader {
      font-size: 30px;
      margin-bottom: 10px; }
  /* line 29, scss/index.scss */
  .container .wheatherSection .wheatherContainer {
    max-width: 500px;
    margin: 0 auto; }
    /* line 33, scss/index.scss */
    .container .wheatherSection .wheatherContainer .mainBlock {
      display: flex;
      border: 1px solid #d4d4d4;
      border-radius: 20px;
      margin-bottom: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      padding: 20px;
      align-items: center;
      justify-content: center;
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s; }
      /* line 53, scss/index.scss */
      .container .wheatherSection .wheatherContainer .mainBlock:hover {
        -webkit-box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2); }
      /* line 59, scss/index.scss */
      .container .wheatherSection .wheatherContainer .mainBlock .leftSide {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40px; }
        /* line 64, scss/index.scss */
        .container .wheatherSection .wheatherContainer .mainBlock .leftSide .wheatherIcon {
          height: 100px;
          width: 100px; }
        /* line 69, scss/index.scss */
        .container .wheatherSection .wheatherContainer .mainBlock .leftSide .currentDesc {
          font-size: 28px; }
      /* line 74, scss/index.scss */
      .container .wheatherSection .wheatherContainer .mainBlock .rightSide {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        /* line 79, scss/index.scss */
        .container .wheatherSection .wheatherContainer .mainBlock .rightSide .currentTemp {
          font-size: 95px; }
        /* line 83, scss/index.scss */
        .container .wheatherSection .wheatherContainer .mainBlock .rightSide .currentAppTemp {
          font-size: 14px; }
    /* line 89, scss/index.scss */
    .container .wheatherSection .wheatherContainer .secondaryBlock {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid #d4d4d4;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); }
      /* line 113, scss/index.scss */
      .container .wheatherSection .wheatherContainer .secondaryBlock:hover {
        -webkit-box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2); }
      /* line 119, scss/index.scss */
      .container .wheatherSection .wheatherContainer .secondaryBlock .windBlock,
      .container .wheatherSection .wheatherContainer .secondaryBlock .humidityBlock,
      .container .wheatherSection .wheatherContainer .secondaryBlock .visibilityBlock {
        flex: 1; }
  /* line 131, scss/index.scss */
  .container footer {
    max-width: 500px;
    padding: 20px;
    margin: 20px auto;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d4d4d4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); }
    /* line 157, scss/index.scss */
    .container footer:hover {
      -webkit-box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.2); }
